@font-face {
    font-family: Amiko_Bold;
    src: url('Amiko-Bold.ttf');
}@font-face {
    font-family: Amiko_Regular;
    src: url('Amiko-Regular.ttf');
}
@font-face {
    font-family: Amiko_SemiBold;
    src: url('Amiko-SemiBold.ttf');
}
@font-face {
    font-family: Abel;
    src: url('Abel-Regular.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('Poppins-Thin.ttf');
}
.menu a:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}

.home {
    width: 50px;
    height: 50px;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    display:flex;
    justify-content: space-between; /* Alignement des éléments à droite */
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 5px; /* Ajout d'un peu d'espace intérieur */
    box-sizing: border-box; /* Inclure les paddings dans la largeur totale */
    backdrop-filter: blur(3px);
    overflow: auto;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#bold {
    font-family: 'bold';
}

.menu a {
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    transition: color 0.2s, text-shadow 0.2s;
    font-family: 'semi';
    margin-left: 20px;
    margin-right: 20px;
}

.header-text {
    display: flex;
    align-items: center; /* Aligner verticalement les éléments du header */
    margin-left: auto; /* Pousse les éléments à droite */
}

.ligne-verticale {
    border-left: 2px solid #000000; /* Remplacez #000 par la couleur de votre choix */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
}
.logo {
    width: 70px;
    height: 60px;
    float:left;
    justify-content: start;
    filter: invert(100%);

}

body{
    background-color:#131313;
    background-image: url(design2/Vector_78.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

.titre{
    position: relative;
    display: flex;
    justify-content: center;
    top: 150px;
    
}


button 
{
    border: 1px solid #000000;
    background-color: black;
    font-family: 'Amiko';
    font-size: 28px;
    width: 270px;
    height: 61px;
    border: 1px;
    border-radius: 10px;
    font-weight: 400;
    line-height: 37px;
    margin: 0;
    position: relative;
    top: 290px;
    left: 48%;
    transform: translate(-50%, -50%);
}
button a
{
    color: white;
    text-decoration: none;
}

body .DESCRIPTION
{
    position: absolute;
    top: 1220px;
    background: #000000;
    width: 100%;
    height: 555px;

}
.DESCRIPTION .Titre
{
    position: absolute;
    top: 91px;
    left: 525px;
    color: #3B4040;


}
body .DESCRIPTION .titre_logo{
    position: absolute;
    width: 600px;
    height: 90px;
    top: 75px;
    left: 740px;

}
body .DESCRIPTION .background{
    position: absolute;
    left: 112px;
    top: 89px;
}

body .DESCRIPTION .video
{
    position: absolute;
    left: 135px;
    top: 111px;
}
body .DESCRIPTION img
{
    position: absolute;
    top: 266px;
    left: 306px;
}
body .DESCRIPTION .container {
    position: relative;
}

body .DESCRIPTION .container .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
}

body .DESCRIPTION .container .popup .fermer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.DESCRIPTION p
{
    position: absolute;
    font-family: 'Abel';
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    width: 811px;
    height: 130px;
    top: 182px;
    left: 674px;
    color: #FFFFFF;
    

}

.DESCRIPTION .warning{
    position: absolute;
    font-family: 'Abel';
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    width: 811px;
    height: 130px;
    top: 400px;
    left: 674px;
    color: #FF0000;
    line-height: 31px;
    font-size: 17px;
    



    

}


body .Titre{
    position: absolute;
    font-family: 'Amiko_Bold';
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 766px;
    height: 53px;
    top: 115px;
    left: 200px;
    color: #3B4040;

    




}

body .Partie_2{
    background-image: url(design2/Vector\ 80.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1770px;
    width: 100%;
    height: 350%;


}


.Partie_2 .Titre{
    position: absolute;
    width: 900px;
    height: 635px;
    top: 100px;
    left: 110px;
    color: #FFFFFF;
    


}


.Partie_2 .ImacceuilContainer{
    position: absolute;
    border-radius: 10px;
    width: 1290px;
    height: 916px;
    top: 138px;
    left: 150px;
    z-index: 1;

    
}



.center{
    position: relative;
    top: 910px;
    left: 180px;
    width: 1228px;
    height: 300px;
    background-color: #616161;
    display: flex;
    justify-content: center;

    

}

.Partie_2 .center .Titre1{
    font-family: "Amiko_Bold";
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.03em;
    position: absolute;
    left: 45px;
    height: 41px;
    font-size: 30px;
    color: #FFFFFF;

}

.Partie_2 .center .Titre2{
    position: absolute;
    top: 25px;
    left: 480px;
    border: 1.5px;
    width: 38px;
    height: 45px;
    color: #FFFFFF;
  
}

.Partie_2 .center .Titre3{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 250px;
    line-height: 45px;
    letter-spacing: 0.03em;
    position: absolute;
    top: -5px;
    left: 510px;
    height: 46px;
    color: #FFFFFF;
    

}


.Partie_2 .center .text{
    font-family: 'Abel';
    font-size: 21px;
    font-weight: 5;
    line-height: 27px;
    letter-spacing: 0.03em;
    position: relative;
    top: 70px;
    left: 5px;
    width: 1150px;
    height: 3px;
    color: #FFFFFF;
    



}

.Partie_2 .center2{
    position: relative;
    top: 1570px;
    left: 180px;
    width: 1228px;
    height: 325px;
    background-color: #616161;
    display: flex;
    justify-content: center;
}


.Partie_2 .center .Bouton-Container{
    Width: auto;
    Height: 50px;
    position: absolute;
    Top: 225px;
    left: 500px;

}


.Partie_2 .ImacceuilContainer2{
    position: absolute;
    width: 1290px;
    height: 916px;
    top: 1100px;
    left: 150px;
    z-index: 1;

}


.Partie_2 .center2 .Titre1{
    font-family: "Amiko_Bold";
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.03em;
    position: absolute;
    left: 45px;
    height: 41px;
    font-size: 30px;
    color:#FFFFFF;
}


.Partie_2 .center2 .Titre2{
    position: absolute;
    top: 25px;
    left: 200px;
    border: 1.5px;
    width: 38px;
    height: 45px;
}

.Partie_2 .center2 .Titre3{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 250;
    line-height: 45px;
    letter-spacing: 0.03em;
    position: absolute;
    top: -5px;
    left: 230px;
    height: 46px;
    color: #FFFFFF;
}


.Partie_2 .center2 .text{
    font-family: 'Abel';
    font-size: 22px;
    font-weight: 5;
    line-height: 27px;
    letter-spacing: 0.03em;
    position: relative;
    top: 70px;
    left: -5px;
    width: 1115px;
    height: 3px;
    text-align: justify; 
    color: #FFFFFF;
}

.Partie_2 .center2 .Bouton-Container{
    Width: auto;
    Height: 50px;
    position: absolute;
    Top: 250px;
    left: 500px;
}






.GALERIE
{
    position: absolute;
    top: 4045px;
    width: 100%;
    background: url(design2/image\ 127.svg) no-repeat;    
    background-size: cover;
    background-position: center;
    height: 669px;
}

.GALERIE .C .com {
    position: absolute;
    top: 326px;
    left: 25%;
    right: 25%;
    font-family: Amiko;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.GALERIE .Cercle1
{
    position: absolute;
    top: 50px;
    left: 71px;
}

.GALERIE .Cercle2
{
    position: absolute;
    top: 50px;
    left: 141px;
}

.GALERIE .Rectangle1
{
    position: absolute;
    top: 626px;
    left: 590px;
}
.GALERIE .Rectangle2
{
    position: absolute;
    top: 626px;
    left: 660px;
}
.GALERIE .Rectangle3
{
    position: absolute;
    top: 626px;
    left: 730px;
}
.GALERIE .Rectangle4
{
    position: absolute;
    top: 626px;
    left: 800px;
}
.GALERIE .Rectangle5
{
    position: absolute;
    top: 626px;
    left: 870px;
}
.GALERIE .Rectangle6
{
    position: absolute;
    top: 626px;
    left: 940px;
}


.footer{
    position: absolute;
    top: 4700px;
    left: 0px;
    font-family: alatsi;
    justify-content:space-between;
    background-color: rgba(59, 64, 64, 1);
    width: 100%;
    padding: 5px; /* Ajout d'un peu d'espace intérieur */
    box-sizing: border-box; /* Inclure les paddings dans la largeur totale */
    overflow: auto;
}
.footer-text{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#82FFE1;
}

.pages{
    margin: 15px;
}

#Contact{
    text-decoration: none;
    color:#82FFE1;
    margin: 15px;
}

#Reservation{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

#FAQ{
    text-decoration: none;
    color:#82FFE1;
}

#Copyright{
    position: relative;
    right:50%;
    left:50%;
}

.Regles{
    display: flex;
    align-items: center;
}

#Modalités{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

#Confidentialité{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

.ligne-verticale-ft {
    border-left: 2px solid #82FFE1; /* Remplacez #000 par la couleur de votre choix */
    height: 25px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 15px;
}

#Yb{
    margin-right: 15px;
}
#Ig{
    margin-right: 15px;
}
#Tw{
    margin-right: 15px;
}