@font-face {
    font-family: Amiko_Bold;
    src: url('Amiko-Bold.ttf');
}@font-face {
    font-family: Amiko_Regular;
    src: url('Amiko-Regular.ttf');
}
@font-face {
    font-family: Amiko_SemiBold;
    src: url('Amiko-SemiBold.ttf');
}
@font-face {
    font-family: Abel;
    src: url('Abel-Regular.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('Poppins-Thin.ttf');
}
.menu a:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}

.home {
    width: 50px;
    height: 50px;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    display:flex;
    justify-content: space-between; /* Alignement des éléments à droite */
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 5px; /* Ajout d'un peu d'espace intérieur */
    box-sizing: border-box; /* Inclure les paddings dans la largeur totale */
    backdrop-filter: blur(3px);
    overflow: auto;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#bold {
    font-family: 'bold';
}

.menu a {
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    transition: color 0.2s, text-shadow 0.2s;
    font-family: 'semi';
    margin-left: 20px;
    margin-right: 20px;
}

.header-text {
    display: flex;
    align-items: center; /* Aligner verticalement les éléments du header */
    margin-left: auto; /* Pousse les éléments à droite */
}

.ligne-verticale {
    border-left: 2px solid #000000; /* Remplacez #000 par la couleur de votre choix */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
}
.logo {
    width: 70px;
    height: 60px;
    float:left;
    justify-content: start;
}

body {
    background-image: url(design/Vector\ 78.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0;
}

.titre{
    position: absolute;
    left: 21%;
    top: 200px;
    
}

button 
{
    border: 1px solid #000000;
    background-color: black;
    font-family: 'Amiko';
    font-size: 28px;
    width: 270px;
    height: 61px;
    border: 1px;
    border-radius: 10px;
    font-weight: 400;
    line-height: 37px;
    margin: 0;
    position: absolute;
    top: 920px;
    left: 50%;
    transform: translate(-50%, -50%);
}
button a
{
    color: white;
    text-decoration: none;
}


body .DESCRIPTION
{
    position: absolute;
    top: 1220px;
    background: #EAFEFF;
    width: 100%;
    height: 555px;

}
body .DESCRIPTION .titre_logo{
    position: absolute;
    width:297.79px;
    height: 48.69px;
    top: 85px;
    left: 960px;

}
body .DESCRIPTION .background{
    position: absolute;
    left: 117px;
    top: 89px;
}

body .DESCRIPTION .video
{
    position: absolute;
    left: 135px;
    top: 111px;
}
body .DESCRIPTION img
{
    position: absolute;
    top: 266px;
    left: 306px;
}
body .DESCRIPTION .container {
    position: relative;
}

body .DESCRIPTION .container .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
}

body .DESCRIPTION .container .popup .fermer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.DESCRIPTION .Titre
{
    position: absolute;
    top: 91px;
    left: 674px;
    color: #3B4040;


}
.DESCRIPTION p
{
    position: absolute;
    font-family: 'Abel';
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    width: 816px;
    height: 223px;
    top: 182px;
    left: 674px;
    color: #000000;

}



body .Titre{
    position: absolute;
    font-family: 'Amiko_Bold';
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
    text-align: left;
    width: 766px;
    height: 53px;
    top: 115px;
    left: 200px;
    color: #3B4040;

    




}

body .Partie_2{
    background-image: url(design/Vector\ 80.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1770px;
    width: 100%;
    height: 300%;


}





.ImacceuilContainer{
    position: relative;
    border-radius: 10px;
    width: 1310px;
    height: 622px;
    top: 270px;
    left: 275px;
    

}

.Container-text{
    text-align: center;
    background-color: #EAFEFF;
    padding: 40px;
    border-radius: 4px;
    Width: 1100px;
    Height: 205px;
}

.center{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    top: 257px;

}

.Partie_2 .Container-text .Titre1{
    font-family: "Amiko_Bold";
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.03em;
    position: relative;
    top: -45px;
    left: -340px;
    color: #3B4040;

}


.Partie_2 .Container-text .Titre2{
    position: relative;
    top: -115px;
    left: -100px;
    border: 1.5px;  
}

.Partie_2 .Container-text .Titre3{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 250;
    line-height: 45px;
    letter-spacing: 0.03em;
    text-align: left;
    position: relative;
    top: -195px;
    left: 475px;

}


.Partie_2 .Container-text .text{
    font-family: 'Abel';
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: left;
    position: relative;
    top: -200px;
    width: 1116px;
    height: 150px;
    



}


.Bonton-Container{
    Width: auto;
    Height: 50px;
    position: relative;
    Top: -245px;
    left: -25px;

}







.acceuil-container{
    Width: 1283px;
    Height: 916px;
    Top: 100px;
    margin: auto;
    margin-top:50px;
}


.acceuil-image-container{
    Width: 1283px;
    Height: 622px;
    Top: 100px;
    Left: 1406px;
}


.ImacceuilContainer{
    Width: 1283px;
    Height: 622px;
    Top: 100px;
    Left: 1406px;
    border-radius: 10px;
}

.Container-text{
    text-align: center;
    background-color: #E6E6E6;
    padding: 40px;
    border-radius: 4px;
    Width: 80%;
    Height: 80%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

}

.Bonton-Container{
    Width: auto;
    Height: 50px;
    Top: 2650px;

}


























.footer{
    position: absolute;
    top: 4600px;
    font-family: alatsi;
    justify-content:space-between;
    background-color: rgba(59, 64, 64, 1);
    width: 100%;
    padding: 5px; /* Ajout d'un peu d'espace intérieur */
    box-sizing: border-box; /* Inclure les paddings dans la largeur totale */
    overflow: auto;
}
.footer-text{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#82FFE1;
}

.pages{
    margin: 15px;
}

#Contact{
    text-decoration: none;
    color:#82FFE1;
    margin: 15px;
}

#Reservation{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

#FAQ{
    text-decoration: none;
    color:#82FFE1;
}

#Copyright{
    position: relative;
    right:50%;
    left:50%;
}

.Regles{
    display: flex;
    align-items: center;
}

#Modalités{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

#Confidentialité{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

.ligne-verticale-ft {
    border-left: 2px solid #82FFE1; /* Remplacez #000 par la couleur de votre choix */
    height: 25px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 15px;
}

#Yb{
    margin-right: 15px;
}
#Ig{
    margin-right: 15px;
}
#Tw{
    margin-right: 15px;
}