@font-face {
    font-family: bold;
    src: url('Amiko-Bold.ttf');
}@font-face {
    font-family: normal;
    src: url('Amiko-Regular.ttf');
}
@font-face {
    font-family: semi;
    src: url('Amiko-SemiBold.ttf');
}

.menu a:hover {
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}

.home {
    width: 50px;
    height: 50px;
}

header {
    display:flex;
    justify-content: space-between; /* Alignement des éléments à droite */
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 5px; /* Ajout d'un peu d'espace intérieur */
    box-sizing: border-box; /* Inclure les paddings dans la largeur totale */
    backdrop-filter: blur(3px);
    overflow: auto;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#bold {
    font-family: 'bold';
}

.menu a {
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    transition: color 0.2s, text-shadow 0.2s;
    font-family: 'semi';
    margin-left: 20px;
    margin-right: 20px;
}

.header-text {
    display: flex;
    align-items: center; /* Aligner verticalement les éléments du header */
    margin-left: auto; /* Pousse les éléments à droite */
}

.ligne-verticale {
    border-left: 2px solid #000000; /* Remplacez #000 par la couleur de votre choix */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
}

.logo {
    width: 70px;
    height: 60px;
    float:left;
    justify-content: start;
}

body {
    background: url(design/EN\ TÊTE.svg) no-repeat, url(design/fond.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0;
}
h1
{
    position: relative;
    top: 326px;
    color: #fff;
    font-family: Amiko;
    font-size: 120px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -0.13em;    
    text-align: center;
}

button 
{
    border: 1px solid #000000;
    background-color: black;
    font-family: Amiko;
    font-size: 28px;
    width: 270px;
    height: 61px;
    border: 1px;
    border-radius: 10px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.13em;
    margin: 0;
    position: absolute;
    top: 920px;
    left: 51%;
    transform: translate(-50%, -50%);
}
button a
{
    color: white;
    text-decoration: none;
}
.DESCRIPTION
{
    position: absolute;
    width: 100%;
    height: 618px;
    top: 1070px;
    background: #EAFFFB;
}
.DESCRIPTION .fond
{
    position: absolute;  /* Permettre le positionnement par rapport à l'élément parent */
    left: 117px;
    top: 89px;
}
.DESCRIPTION .video
{
    position: absolute;
    left: 141px;
    top: 111px;
}
.DESCRIPTION img
{
    position: absolute;
    top: 266px;
    left: 306px;
}
.container {
    position: relative;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
}

.fermer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.DESCRIPTION .Titre
{
    position: absolute;
    height: 53px;
    top: 97px;
    left: 620px;
    font-family: Amiko;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
    text-align: left;

}
.DESCRIPTION p
{
    position: absolute;
    top: 170px;
    left: 626px;
    right: 2%;
    font-family: Abel;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.EQUIPEMENTS
{
    position: absolute;
    width: 100%;
    height: 1433px;
    top: 1805px;
}

.EQUIPEMENTS .Titre
{
    position: absolute;
    top: 0;
    height: 53px;
    left: 150px;
    font-family: Amiko;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
    text-align: left;
}
.EQUIPEMENTS p
{
    position: absolute;
    top: 63px;
    height: 114px;
    left: 150px;
    right: 2%;
    font-family: Abel;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.EQUIPEMENTS .Casque
{
    position: absolute;
    height: 382px;
    top: 210px;
    right: 72px;
    left: 72px;
    background: #EAFFFB;

}
.EQUIPEMENTS .Casque .Titre
{
    position: absolute;
    top: 0;
    height: 30px;
    left: 753px;
    font-family: Amiko;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
}
.EQUIPEMENTS .Casque p
{
    position: absolute;
    top: 93px;
    height: 114px;
    left: 753px;
    right: 2%;
    font-family: Abel;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.EQUIPEMENTS .BAGPACK
{
    position: absolute;
    height: 367px;
    top: 632px;
    right: 72px;
    left: 72px;
    background: #EAFFFB;
}

.EQUIPEMENTS .BAGPACK img
{
    position: absolute;
    top: 0;
    right: 0;
}

.EQUIPEMENTS .BAGPACK .Titre
{
    position: absolute;
    top: 27px;
    height: 30px;
    left: 58px;
    font-family: Amiko;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
}
.EQUIPEMENTS .BAGPACK p
{
    position: absolute;
    top: 80px;
    height: 114px;
    left: 19px;
    right: 688px;
    font-family: Abel;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.EQUIPEMENTS .COMPLEXE
{
    position: absolute;
    height: 394px;
    top: 1039px;
    right: 72px;
    left: 72px;
    background: #EAFFFB;

}
.EQUIPEMENTS .COMPLEXE .Titre
{
    position: absolute;
    top: 22px;
    height: 30px;
    left: 681px;
    font-family: Amiko;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
}
.EQUIPEMENTS .COMPLEXE p
{
    position: absolute;
    top: 78px;
    height: 114px;
    left: 681px;
    right: 2%;
    font-family: Abel;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}


.AVIS
{
    position: absolute;
    width: 100%;
    height: 889px;
    top: 3331px;

}
.AVIS .Titre
{
    position: absolute;
    top: 0;
    left: 150px;
    height: 53px;
    font-family: Amiko;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
}
.AVIS p
{
    position: absolute;
    top: 63px;
    height: 114px;
    left: 150px;
    right: 2%;
    font-family: Abel;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}
.AVIS .GALERIE
{
    position: absolute;
    top: 210px;
    width: 100%;
    background: url(design/Rectangle\ 94.svg) no-repeat;    
    background-size: cover;
    background-position: center;
    height: 669px;
}

.AVIS .GALERIE .C .com {
    position: absolute;
    top: 326px;
    left: 25%;
    right: 25%;
    font-family: Amiko;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.AVIS .GALERIE .Cercle1
{
    position: absolute;
    top: 50px;
    left: 71px;
}

.AVIS .GALERIE .Cercle2
{
    position: absolute;
    top: 50px;
    left: 141px;
}

.AVIS .GALERIE .Rectangle1
{
    position: absolute;
    top: 626px;
    left: 720px;
}
.AVIS .GALERIE .Rectangle2
{
    position: absolute;
    top: 626px;
    left: 790px;
}
.AVIS .GALERIE .Rectangle3
{
    position: absolute;
    top: 626px;
    left: 860px;
}
.AVIS .GALERIE .Rectangle4
{
    position: absolute;
    top: 626px;
    left: 930px;
}
.AVIS .GALERIE .Rectangle5
{
    position: absolute;
    top: 626px;
    left: 1000px;
}
.AVIS .GALERIE .Rectangle6
{
    position: absolute;
    top: 626px;
    left: 1070px;
}

footer
{
    position: absolute;
    top: 4211px;
    width: 100%;
    height: 100px;
    background-color: #000000;
}