@font-face {
    font-family: bold;
    src: url('Amiko-Bold.ttf');
}@font-face {
    font-family: normal;
    src: url('Amiko-Regular.ttf');
}
@font-face {
    font-family: semi;
    src: url('Amiko-SemiBold.ttf');
}
@font-face {
    font-family: alatsi;
    src: url('Alatsi-Regular.ttf');
}
@font-face {
    font-family: abel;
    src: url('Abel-Regular.ttf');
}
@media (max-width : 1000px){
    .burger{
        display: flex;
        justify-content: end;
        margin-right: 5px;
        width : 30px;
        height:auto;
    }
    .haut{
        justify-content: space-between;
        display:flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(3px);
        overflow: auto;
        padding: 5px;
        width: 100%;
    }
    .header-text{
        display: none;
    }
    .compte{
        display: block;
    }
    .pop-up{
        display: none;
    }
}
@media (min-width:1001px){


    .menu a:hover {
        text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
        color: #fff;
        text-decoration-thickness: 3px;
        font-size : 120%;
    }
    
    .pop-up{
        position: absolute;
        top: 5px;
        right: 15px;
        width: 524px;
        height: auto;
        background-color: #ffffff;
        border-radius: 10px;
        display: none;
        border: 2px solid black;
        z-index: 999;
    }

    .pop-up h2{
        position: absolute;
        top: -10px;
        right: 20px;
        font-family: Amiko;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: -0.135em;
        text-align: left;
    }

    .espace{
        display: flex;
        justify-content:space-around;
    }

    .espace input{
        width: 340px;
        height: 35px;
        border-radius: 5px;
        border: 1px;
        border: 1px solid #1BDCC5;
        font-family: Abel;
        font-size: 15px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;

    }
    
    .pop-up label{
        display: flex;
        justify-content: end;
        margin-right: 50px;
    }

    #conn-button {
        border: 1px solid #000000;
        background-color: black;
        color:#ffffff;
        font-family: normal;
        font-size: 30px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: -0.13em;
        text-align: center;

        width: 175px;
        height: 45px;
        border: 1px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .reject-button,
    .accept-button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: none;
    border-radius: .375em;
    box-shadow: none;
    box-sizing: border-box;
    color: #363636;
    cursor: pointer;
    display: inline-flex; /* Propriété commune */
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }
    .button-container2 {
        display: inline-flex;
    }

    .reject-button:active,
    .accept-button:active {
    border-color: #4a4a4a;
    outline: 0;
    }

    .reject-button:focus,
    .accept-button:focus {
    border-color: #485fc7;
    outline: 0;
    }

    .reject-button:hover,
    .accept-button:hover {
    border-color: #b5b5b5;
    }

    .reject-button:focus:not(:active),
    .accept-button:focus:not(:active) {
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
    }
    .button-container2 {
        display: inline-flex;
    }

    .home {
        width: 50px;
        height: 50px;
    }

    header {
        margin: 0%;
        display:flex;
        justify-content: space-between; /* Alignement des éléments à droite */
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        padding: 5px; /* Ajout d'un peu d'espace intérieur */
        backdrop-filter: blur(3px);
        overflow: auto;
    }
    #Creer{
        text-decoration: none;
        color:#000000;
        font-family: "abel";
    }

    .menu {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    #bold {
        font-family: 'bold';
    }

    .menu a {
        color: #000000;
        text-decoration: none;
        font-weight: normal;
        font-size: 18px;
        transition: color 0.2s, text-shadow 0.2s;
        font-family: 'semi';
        margin-left: 20px;
        margin-right: 20px;
    }

    .header-text {
        display: flex;
        align-items: center; /* Aligner verticalement les éléments du header */
        margin-left: auto; /* Pousse les éléments à droite */
    }

    .ligne-verticale {
        border-left: 2px solid #000000; /* Remplacez #000 par la couleur de votre choix */
        height: 50px; /* Ajustez la hauteur selon vos besoins */
    }

    .burger{
        display:none;
    }
    }

.logo {
    width: 70px;
    height: 60px;
    float:left;
    filter:invert(100%);
}

body {
    width: 100%;
    height: auto;
    margin: 0;
}

.SENSE
{
    position: relative;   
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 99;
}
.en_tete
{
    position: relative;
    top: 0;
}
h1
{
    position: absolute;
    top: 150px;
    left: 32%;
    color: #fff;
    font-family: Amiko;
    font-size: 120px;
    font-weight: 700;
    line-height: 160px;
    letter-spacing: -0.13em;    
    text-align: center;
    z-index: 990;
}

.Compte
{
    position: relative;
    margin-top: 12px;
    margin-left: 434px;
    margin-right: 434px;
    width:  auto;
    height: 500px;
}

.Compte .Titre
{
    position: absolute;
    margin: 0;
    top: 0px;
    left: 206px;
    right: 184px;
    font-family: Amiko;
    font-size: 40px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: -0.135em;
    color: #3B4040;
    text-align: center;
}
.Compte form label
{
    font-family: Amiko;
    font-size: 25px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.135em;
    text-align: right;
    color: #3B4040;

}
.Compte form input
{
    font-family: Abel;
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    background: transparent;
    border: 0;
}
.Compte form .NP
{
    position: absolute;
    left: 310px;
    top: 105px;
}
.Compte form .mail
{
    position: absolute;
    left: 275px;
    top: 160px;
}
.Compte form .MDP
{
    position: absolute;
    left: 311px;
    top: 215px;
}
.Compte form .Confirmation
{
    position: absolute;
    left: 195px;
    top: 270px;
}
.Compte form .Newsletter
{
    position: absolute;
    left: 380px;
    top: 430px;
}
.Compte form .Newsletter label
{
    font-family: Abel;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: black;

}

.Compte form button 
{
    width: 107px;
    height: 30px;
    border-radius: 10px;
    font-family: Amiko;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px solid #000000;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 0;
    position: absolute;
    top: 350px;
    left: 51%;
    transform: translate(-50%, -50%);
}

.Compte form .NP .username
{
    position: absolute;
    left: 160px;
    top: -5px;
}
.Compte form .mail .email
{
    position: absolute;
    left: 195px;
    top: -5px;
    
}
.Compte form .MDP .password
{
    position: absolute;
    left: 159px;
    top: -5px;
}
.Compte form .Confirmation .confirm
{
    position: absolute;
    left: 273px;
    top: -5px;
    width: 100%;
}
.img
{
    position: absolute;
    margin-top: -40px;
    left: 300px;
    z-index: -99;
}



.footer{
    position: relative;
    bottom: 0;
    font-family: alatsi;
    justify-content:space-between;
    background-color: rgba(59, 64, 64, 1);
    width: 100%;
    padding: 5px; /* Ajout d'un peu d'espace intérieur */
    box-sizing: border-box; /* Inclure les paddings dans la largeur totale */
    overflow: auto;
}
.footer-text{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#82FFE1;
}

.pages{
    margin: 15px;
}

#Contact{
    text-decoration: none;
    color:#82FFE1;
    margin: 15px;
}

#Reservation{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

#FAQ{
    text-decoration: none;
    color:#82FFE1;
}

#Copyright{
    position: relative;
    right:50%;
    left:50%;
}

.Regles{
    display: flex;
    align-items: center;
}

#Modalités{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

#Confidentialité{
    text-decoration: none;
    color:#82FFE1;
    margin-right: 15px;
}

.ligne-verticale-ft {
    border-left: 2px solid #82FFE1; /* Remplacez #000 par la couleur de votre choix */
    height: 25px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 15px;
}

#Yb{
    margin-right: 15px;
}
#Ig{
    margin-right: 15px;
}
#Tw{
    margin-right: 15px;
}
